---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ content }}</p>

{% if site.categories[page.category] %}
  {% assign posts = (site.categories[page.category]  | sort: 'level' %}
  {% for post in posts %}
    <div class="panel panel-info">
        <div class="panel-heading">
          <h2><a href="{{ post.url | prepend:site.baseurl }}">
            {{ post.title | escape }}
          </a>
          <small class="pull-right">
          {% if post %}
            {% assign categories = post.categories %}
          {% else %}
            {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
            <a href="{{site.baseurl}}/categories/{{category|slugize}}"><span class="label label-warning">{{category}}</span></a>
          {% endfor %}
           <span class="label label-success">Livello {{post.level}}</span>
          </small>
          </h2>
        </div>
      <div class="panel-body">
          {{ post.content }}
      </div>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </div>
  {% endfor %}
{% endif %}
