---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ content }}</p>

<!-- {% for post in site.categories[page.category] %}
  <h2>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </h2>
   {{ post.content }}
{% endfor %} -->
<ul class="post-list">
{% if site.categories[page.category] %}
  {% assign posts = (site.categories[page.category]  | sort: 'level' %}
  {% for post in posts %}
    <li>

        <h2><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title | escape }}</a></h2>
        {{ post.content }}

      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </li>
  {% endfor %}
{% endif %}
</div>

<!-- {% for post in site.categories[page.category]   %}
<article itemscope itemtype="http://schema.org/BlogPosting">

    <h2><a href="{{ post.url }}">{{ post.title | escape }}</a></h2>
    {{ post.content }}

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
<hr>
{% endfor %} -->