---
layout: default
---
<h1>Esercizi per categoria</h1>
<div class="list-group">
    {% assign cats = (site.pages  | where: "layout","categories"| sort: 'title' %}
    {% for cat in cats %}
      <a href="{{site.baseurl}}/categories/{{cat.category}}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ cat.title }}<span class="badge pull-right">{{ site.categories[cat.category] | second | size }}</span></h4>

        <p class="list-group-item-text">{{ cat.description }}</p>
      </a> 
    {% endfor %}
</div>



  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
