---
layout: default
---
<h1>Esercizi Java</h1>
<p>Ecco una raccolta di esercizi utili per i programmatori Java alle prime armi. La maggior parte degli esercizi possono funzionare nella console di Netbeans o altri IDE, fanno eccezione le *animazioni 1D* che devono essere eseguite in una shell che interpreti correttamente il carattere *carriage return* (Prompt dei comandi, Terminale) per funzionare correttamente.</p>

<h1>Esercizi per categoria</h1>
<!-- <div class="list-group">
    {% assign cats = (site.pages  | where: "layout","categories"| sort: 'title' %}
    {% for cat in cats %}
      <a href="{{site.baseurl}}/categories/{{cat.category}}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ cat.title }}<span class="badge pull-right">{{ site.categories[cat.category] | second | size }}</span></h4>

        <p class="list-group-item-text">{{ cat.description }}</p>
      </a> 
    {% endfor %}
</div> -->

{% assign cats = (site.pages  | where: "layout","categories"| sort: 'level' %}
		<table class="table">
{% for cat in cats %}
	{% if site.categories[cat.category] %}
		{% assign posts = (site.categories[cat.category]  | sort: 'level' %}

		<tr><td colspan="3"><h2>
			{{ cat.title }}
			<a name="{{ cat.category }}" href="{{site.baseurl}}/categories/{{cat.category}}">
				<span class="badge">{{ site.categories[cat.category] | second | size }}</span>
			</a>
		</h2>

		<p>{{ cat.description }}</p>
		</td>
		</tr>
			<tr>
				<th>Titolo</th><th>Categorie</th><th>Livello</th>
			</tr>
			{% for post in posts %}
				<tr>
					<td>
						<a href="{{ post.url | prepend:site.baseurl }}">
							{{ post.title | escape }}
						</a>
					</td>
					<td>
						{% if post %}
						{% assign categories = post.categories %}
						{% else %}
						{% assign categories = page.categories %}
						{% endif %}
						{% for category in categories %}
						<a href="{{site.baseurl}}/#{{category|slugize}}"><span class="label label-warning">{{category}}</span></a>
						{% endfor %}
					</td>
					<td>
						<span class="label label-success">Livello {{post.level}}</span>
						{{post.exerpt}}
					</td>
				</tr>
			{% endfor %}
	{% endif %}
{% endfor %}
		</table>